<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="" />
<meta name="description" content="" />
<script type="text/javascript" src="/static/js/swfobject.js"></script>
<link href="/static/css/tooplate_style.css" rel="stylesheet" type="text/css" />
<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/flowplayer-3.2.12.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<link href="/static/player/flowplayer.controls.swf" rel="stylesheet">
<script type="text/javascript" src="/static/js/flowplayer.ipad-3.2.12.min.js"></script>
    <!-- Some custom styles for the demo page -->
<title>{% block title%}{{video.title}}{%endblock%}</title>


</head>
<body>

<div id="tooplate_wrapper">
	<div id="tooplate_header">
        <!-- <div id="site_title"><h1><a href="#">Elegant Template</a></h1></div> -->
    </div> <!-- end of forever header -->
    
    <div id="tooplate_menu">
        <ul>
             <li><a href="/">Домой</a></li>
    
             <li><a href="/tv/">ТВ</a></li>

             <li><a href="/about">О сайте</a></li>
        </ul>    	
    </div> <!-- end of tooplate_menu -->
    
    <div id="tooplate_main">
        <div id="tooplate_content">
       
               <p>Как смотреть тв <a href="kak_smotret_tv">тыц</a></p>
         <div style="margin: 30px auto; width: 630px; height: 380px;">
<!-- player container--><a style="display: block; width: 630px; height: 380px;" id="player">
</a><!-- Flowplayer installation and configuration -->
{%if video.video_link%}
<script type="text/javascript">
flowplayer("player", "/static/player/flowplayer.swf", {
// configure the required plugins
wmode: 'direct',
plugins: {
        flashls: {
            // load the flashls plugin
            url: "/static/player/flashlsFlowPlayer.swf",
 
            // maximum buffer length must be adapted to stream based on
            // trial of resume after pause longer than 'live window'
            hls_maxbufferlength: 20
        }
    },
    clip: {
        url: "{{video.video_link}}&transcode_audio=1",
        live: true,
        
        // configure the flashls plugin as the clip's provider and urlResolver
        provider: "flashls",
        urlResolvers: "flashls",
        accelerated: true,
 
        scaling: "fit"
    }
}).ipad();

</script>
</div>


        {%endif%}

          
       <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script> 


 
    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">

  

    <script src="/static/js/distupnpvideo.js"></script>
    <script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

    
    <script>
var player = videojs('example-video');
player.play();
</script>
-->


{%include 'tv.html'%}

                    
               
                
                
  
            <div class="cleaner"></div>
        </div>
        
        
		        <div id="tooplate_sidebar">
	<div class="sidbar_box">
        {%include 'reklama.html'%}
	    	<!-- <a href="#"><img src="/static/images/tooplate_250x250_ad.jpg" alt="250x250 ad" /></a> -->
		</div>
		
    <div class="sidbar_box">
	        <h4>Информеры</h4>
        {%include 'pogoda.html'%}
		</div>
		
    
		</div>
		
    <div class="cleaner"></div>
</div>

<div class="cleaner"></div>
	</div> <!-- end of main -->
<!--     
    <div id="tooplate_footer_wrapper">
        <div id="tooplate_footer">
             -->
           
            <!-- {%include 'footer.html'%} 
        
            <div class="cleaner"></div>
        </div>-->
        
        <div id="tooplate_copyright">
		
            Copyright © 2017
			
        </div>
	</div>
</div> <!-- end of wrapper -->

</body>
</html>
