<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<meta name="keywords" content="" />
<meta name="description" content="" />

<link href="/static/css/tooplate_style.css" rel="stylesheet" type="text/css" />
<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Some custom styles for the demo page -->
<title>{% block title%}TV{%endblock%}</title>


</head>
<body>

<div id="tooplate_wrapper">
	<div id="tooplate_header">
        <!-- <div id="site_title"><h1><a href="#">Elegant Template</a></h1></div> -->
    </div> <!-- end of forever header -->
    
    <div id="tooplate_menu">
        <ul>
             <li><a href="/">Домой</a></li>
    
             <li><a href="/tv/">ТВ</a></li>

             <li><a href="/about">О сайте</a></li>
        </ul>    	
    </div> <!-- end of tooplate_menu -->
    
    <div id="tooplate_main">
        <div id="tooplate_content">

               <!-- {%if tvs.image_tumb and tvs.video_link%}
        <video id=example-video width=640 height=400 class="video-js vjs-default-skin" controls
        poster="{{tvs.image_tumb}}">
          <source
             src="{{tvs.video_link}}"
             type="application/x-mpegURL">
        </video>
        
        {%endif%} -->

          
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script> 


 
    <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">

  

    <script src="/static/js/distupnpvideo.js"></script>
    <script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
    <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

    
    <!-- <script>
var player = videojs('example-video');
player.play();
</script> -->


<!-- <a href="/tv/rentv"><img src="/static/images/rentv.jpg"></a>
<a href="/tv/myztv"><img src="/static/images/myztv.jpg"></a> -->
{%include 'tv.html'%}
                    
    
                
  
            <div class="cleaner"></div>
        </div>
        
        
		        <div id="tooplate_sidebar">
	<div class="sidbar_box">
        {%include 'reklama.html'%}
	    	<!-- <a href="#"><img src="/static/images/tooplate_250x250_ad.jpg" alt="250x250 ad" /></a> -->
		</div>
		
    <div class="sidbar_box">
	        <h4>Информеры</h4>
        {%include 'pogoda.html'%}
		</div>
		
    
		</div>
		
    <div class="cleaner"></div>
</div>

<div class="cleaner"></div>
	</div> <!-- end of main -->
    
    <!-- <div id="tooplate_footer_wrapper">
        <div id="tooplate_footer">
            
           
            <!-- {%include 'footer.html'%} 
        
            <div class="cleaner"></div>
        </div> -->
        
        <div id="tooplate_copyright">
		
            Copyright © 2017
			
        </div>
	</div>
</div> <!-- end of wrapper -->

</body>
</html>