/*
Credit: http://www.tooplate.com
*/

body {
	margin: 0;
	padding: 0;
	color: #9ac1e3;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #081e30;
	background-image: url(/static/images/tooplate_body.jpg);
	background-repeat: no-repeat;
	background-position: top center
}

a, a:link, a:visited { 
	color: #6eb5ff; 
	font-weight: normal; 
	text-decoration: underline; 
	font-size: 12px; 
}

a:hover { 
	text-decoration: none; 
}

a.more { 
	display: block; 
	width: 122px; 
	height: 26px; 
	padding: 2px 20px 0 0; 
	font-size: 12px; 
	text-align: center; 
	text-decoration: none; 
	font-weight: bold; 
	background: url(/static/images/continue.png) no-repeat top center; 
	color: #7095b5; 
}

a.more:hover { 
	color: #fff; 
	text-shadow: 1px 1px 1px #000; 
}

p { 
	margin: 0 0 10px 0; 
	padding: 0; 
}

img { 
	border: none; 
}

blockquote { 
	font-style: italic; 
	margin: 0 0 0 10px;
}

cite { 
	font-weight: bold; 
	color:#3d8e7d; 
}

cite span { 
	color: #3d8e7d; 
}

em { 
	color: #000; 
}

h1, h2, h3, h4, h5, h6 { color: #fff; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 15px; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { 
	display: inline-block; 
	border: 1px solid #000; 
	padding: 3px; 
	background: none; 
	margin-bottom: 5px; 
}

.image_fl { 
	float: left; 
	margin: 3px 30px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 30px; 
}

.tooplate_list { 
	margin: 20px 0 20px 10px; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color:#5093cd; 
	margin: 0; 
	padding: 0 0 5px 20px; 
	background: url(/static/images/tooplate_list.png) no-repeat scroll 0 5px;  
}

.tooplate_list li a { 
	color: #5093cd; 
	font-weight: normal; 
	font-size: 12px; 
	text-decoration: none; 
}
	
.tooplate_list li a:hover {
 	color: #fff; 
}

#tooplate_wrapper { 
	margin: 0 auto; 
	width: 960px; 
	padding: 0 10px;  
}

#tooplate_header { 
	width: 960px; 
	height: 95px; 
	background: url(/static/images/tooplate_header.jpg) top center no-repeat; 
}

#site_title { 
	float: left; 
	display: block; 
}

#site_title h1 { 
	margin: 0; 
	padding: 30px 0 0 260px; 
}

#site_title h1 a { 
	display: block; 
	width: 200px; 
	height: 42px; 
	color: #fff; 
	text-indent: -10000px; 
	background: url(/static/images/tooplate_logo.png) no-repeat top left; 
}

/* menu */

#tooplate_menu { 
	clear: both; 
	width: 960px; 
	height: 55px; 
	background: url(/static/images/tooplate_menu.jpg); 
}

#tooplate_menu ul { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}

#tooplate_menu ul li { 
	padding: 0; 
	margin: 0; 
	display: inline; 
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 115px;
	line-height: 55px;
	font-size: 14px;
	color: #081e30;	
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
	text-shadow: 1px 1px 1px #f5f5f5;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul .current {
	line-height: 49px;
	text-shadow: 1px 1px 1px #86bce9;
	background: url(/static/images/tooplate_menu_hover.png) top center no-repeat
}
/* end of menu */

#tooplate_main {
	clear: both;
	width: 920px;
	padding: 20px;
	background: url(/static/images/tooplate_main.jpg) top center no-repeat
}

#tooplate_content {
	float: left;
	width: 600px;	
}

#homepage_slider {
	width: 580px;
	height: 300px;
	padding: 10px;
	background: #081e30;
	margin-bottom: 30px; 
	overflow: hidden
}

.post_box { 
	margin-bottom: 40px; 
	padding-bottom: 40px; 
	border-bottom: 1px solid #164a79; 
}

.post_box_last { 
	padding-bottom: 0; 
	margin-bottom: 0; 
	border-bottom: none; 
}

.post_box .date_box { 
	float: left; 
	text-align: center; 
	width: 115px; 
	height: 115px; 
	background: url(/static/images/tooplate_date.png) no-repeat top left; 
}

.date { 
	padding: 20px 0 0 0; 
	font-size: 60px; 
	color: #fff; 
	margin-bottom: 10px; 
}

.date span { 
	display: block; 
	clear: both; 
	margin-top: 10px; 
	font-size: 14px; 
}

.post_comment { 
	color: #081e30; 
	font-weight: bold; 
}

.post_box_right { 
	float: right; 
	width: 450px; 
}

.post_box_right img {
	width: 450px;
	height: 180px;
	margin-bottom: 10px;
}

.post_box h2 {
	margin: 0;
	padding: 10px 0 10px 0;
	line-height: 30px;
}

.post_box .post_meta {
	padding: 5px;
	margin-bottom: 20px;
	background: #051624;
}

.post_box p {
	text-align: justify;
	margin-bottom: 20px;
}

#comment_section {
	clear: both;
	margin-bottom: 60px;
	width: 578px;
}

.first_level {
	margin: 0; padding: 0;
}

.comments {
	list-style: none; 
}

.comments li { 
	margin-bottom: 10px; 
	list-style:none; 
}

.comments li .commentbox1 { 
	border: 1px solid #000;  
	background: #021321; 
}

.comments li .commentbox2 {
	border: 1px solid #021321;  
	background: #072238; 
}

.comments li .comment_box { 
	clear: both; 
	width:100%; 
	padding: 15px;  
}

.comment_box .gravatar { 
	float: left; 
	width: 50px; 
	border: 1px solid #3c3735; 
	margin-right: 15px; 
	background: #3c3735; 
}

.comment_box .gravatar img { 
	margin: 0; 
	width: 50px; 
	height: 50px; 
}

.comment_box .comment_text { 
	margin: 0 0 0 65px; 
}

.comment_box .comment_text p { 
	margin: 0; 
}

.comment_text .comment_author { 
	font-size: 14px; 
	color: #fff; 
	margin-bottom: 10px; 
}

.comment_text .date { 
	font-size: 12px; 
	font-weight: normal; 
	color: #9b8e79; 
	padding-left: 10px; 
}

.comment_text .time { 
	font-size: 12px; 
	font-weight: normal; 
	color: #9b8e79; 
	padding-left: 10px; 
}

.comment_text .reply a { 
	display: block; 
	clear: both; 
	float: right; 
	padding: 1px 10px; 
	height: 24px; 
	text-align: center; 
	background: #3694ab; 
	border: 1px solid #fff; 
	color: #fff; 
} 

#comment_form {
	clear: both;
}

#comment_form h3 {
	font-size: 20px;
	border-bottom: 1px dotted #666;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#comment_form form {
	padding: 20px;
	background: #021321;
	border: 1px solid #000;
}

#comment_form form label { 
	color: #fff; 
}

#comment_form textarea {
	background: #072238 none repeat fixed 0 0;
	border: 1px solid #000;
	display:block;
	height:150px;
	color: #fff;	
	margin-top: 5px;
	padding: 5px;
	width: 540px;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}

#comment_form .form_row {
	width: 100%;
	margin-bottom: 15px;
}

#comment_form form input {
	margin-top: 5px;
	padding: 5px;
	width: 200px;
	color: #fff;
	background:#072238 none repeat fixed 0 0;
	border: 1px solid #000;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
}

#comment_form .submit_btn {
	width: 90px;
	font-weight: bold;
	color: #FFF;
	cursor: pointer;
}

#gallery { 
	margin: 0; 
	padding: 0; 
}

#gallery .gallery_box { 
	clear: both; 
	margin-bottom: 30px; 
	padding-bottom: 30px; 
	background: url(images/tooplate_divider.jpg) bottom repeat-x; 
}

#gallery .gallery_box img { 
	float: left; 
	width: 540px; 
	height: 200px; 
	border: 1px solid #ccc; 
	padding: 9px; 
	margin-right: 40px; 
	background: #fff; 
}

#gallery h3 { 
	line-height: 30px; 
}

#gallery p { 
	margin-bottom: 30px; 
}

#gallery .last_box { 
	margin-bottom: 0; 
	padding-bottom: 0; 
	background: none; 
}

#tooplate_sidebar {
	float: right;
	width: 278px;
	border: 1px solid #000;
	background: #081e30
}

.sidbar_box {
	padding: 14px;
	border-bottom: 1px solid #194569;
	background: url(/static/images/tooplate_sidebar_box.jpg) top no-repeat
}

.recent_comment_box { 
	padding: 0 0 15px; 
	margin: 0 0 15px; 
	border-bottom: 1px dashed #433d3a; 
}

.recent_comment_box a { 
	color: #6eb5ff; 
	font-weight: bold; 
}

.last_recent_comment_box { 
	margin: 0; 
	padding: 0; 
	border: none; 
}

#contact_form { 
	padding: 0; 
	width: 400px; 
}

#contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#contact_form form .input_field { 
	width: 280px; 
	color: #fff; 
	padding: 5px; 
	border: 1px solid #102a61;  
	background: #021321; 
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 14px; 
	color: #fff; 
}

#contact_form form textarea { 
	width: 388px; 
	height: 200px; 
	padding: 5px; 
	color: #fff; 
	border: 1px solid #102a61;  
	background: #021321;
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px; 
}

#contact_form form .submit_btn { 
	margin: 5px 0px;
	padding: 5px 14px; 
	text-decoration: none; 
	border: 1px solid #102a61;  
	background: #021321; 
	font-size: 14px;  
	color: #fff;
}

#tooplate_footer_wrapper {
	clear: both;
	width: 960px;
	background: url(/static/images/tooplate_divider.jpg) repeat-x top
}

#tooplate_footer {
	clear: both;
	width: 900px;
	padding: 30px; 
	background: url(/static/images/tooplate_footer.jpg) bottom center no-repeat
}

#tooplate_footer .col_w280 {
	
	width: 140px;
	margin-right: 30px;
}

#tooplate_footer .last_col { 
	margin: 0; 
}

#tooplate_copyright {
	clear: both;
	width: 960px;
	height: 35px;
	padding: 15px 0 0;
	text-align: center;
	background: url(images/tooplate_copyright.jpg) no-repeat top
}

#tooplate_copyright a { 
	color: #fff; 
}