{% extends "base.html" %}
<title>{%block title%}{{post.title}}{%endblock%}</title>
{% block content %}

                
       
				
             <div class="post_box_right"> 
                 <h2>{{ post.title }}</h2>
             
        	
  
  {% if post.image_url %}
  <p><img src="{{ post.image_url }}" /></p>
   {%endif%}
   {% if post.embed_code %}
   {{ post.embed_code|safe() }}
 {% endif %}
    <p>{{ post.body }}</p>
    <p>{{ post.author }}</p>
    		
             </div>       
             

               
                
                
  <h2>Комментарии</h2>
  {% if post.comments %}
    {% for comment in post.comments %}
       <p>{{ comment.body }}</p>
       <p><strong>{{ comment.author }}</strong> <small>в {{ comment.created_at.strftime('%H:%M %d-%m-%Y') }}</small></p>
      {{ comment.text }}
    {% endfor %}
  {% endif %}
            
                <div id="comment_form">
                    <h3>Leave your comment</h3>
                    
                    <form action="." method="post"> 
                    
                        <div class="form_row"> 
                            <label>Автор (* required)</label><br /> 
                            <input type="text" name="author" /> 
                        </div> 
                        
                        
                        
                        <div class="form_row"> 
                            <label>Текст</label><br /> 
                            <textarea  name="body" rows="" cols=""></textarea> 
                        </div> 
 
                        <input type="submit" name="Submit" value="Submit" class="submit_btn" /> 
                    </form> 
                    
                </div>
                
           
    {%endblock%}
        