{% extends "base.html" %}
{%block title %}Hi-thech новости в мире технологи{%endblock%}
{% block content %}

   {% for post in posts.items %}
<div class="post_box post_box_last ">
        	<div class="date_box">


            	<div class="date"> <span>{{ post.created_at.strftime('%d-%m-%Y')}}</span></div>
                    <div class="post_comment">
        {% with total=post.comments|length %}
            {{ total }} комминтарии 
        {% endwith %}</div>
        	</div>
                
        
				
             <div class="post_box_right"> 
                 <h2>{{ post.title }}</h2>
              
        		 {% if post.image_url %}
  <img src="{{ post.image_url }}" />
{% endif %}
                <p>{{ post.body|truncate(100) }}</p>
                {% if post.embed_code %}
                {{ post.embed_code|safe() }}
              {% endif %}
                 <a  class="more float_r" href="{{ url_for('posts.detail', slug=post.slug) }}">Читать дальше</a>
            </div>
            
            <div class="cleaner"></div>
			</div>
                {%endfor%}
                
			
            	
   
     


        
				
           
    
    

        <nav aria-label="Page navigation">
  <ul class="pagination">
   
    {% for post in posts.items %}
    <p>
     
    </p>
    {% endfor %}
    {% if posts.has_prev %}<a href="{{ url_for('posts.list', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% else %}&lt;&lt; Newer posts{% endif %} | 
    {% if posts.has_next %}<a href="{{ url_for('posts.list', page=posts.next_num) }}">Older posts &gt;&gt;</a>{% else %}Older posts &gt;&gt;{% endif %}
  </ul>
</nav>




<!-- {% macro render_pagination(pagination, endpoint) %}
    <div class=pagination>
        {%- for page in pagination.iter_pages() %}
            {% if page %}
                {% if page != pagination.page %}
                    <a href="{{ url_for('posts.lists', page=page) }}">{{ page }}</a>
                {% else %}
                    <strong>{{ page }}</strong>
                {% endif %}
            {% else %}
                <span class=ellipsis>…</span>
            {% endif %}
        {%- endfor %}
    </div>
{% endmacro %} -->

{% endblock content %}
