{% extends "admin/index.html" %}




{%- block topbar -%}
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container">
     <div class="navbar-header">
       <h2><a href="{{ url_for('admin.index') }}" class="brand">Админка моего блога</a></h2>
     </div>
     <div class="navbar-collapse">
       <ul class="nav nav-pills navbar-nav navbar-right ">
         <li>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
             Добавить статью
             <span class="caret"></span>
           </a>
           <ul class="dropdown-menu">
             {% for type in ('post',) %}
             <li><a href="{{ url_for("admin.create", type=type) }}">{{ type|title }}</a></li>
             {% endfor %}
           </ul>
         </li>
       </ul>
     </div><!-- /.nav-collapse -->
   </div><!-- /.container -->
 </nav>
{%- endblock -%}

{% block js_footer %}
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
{% endblock %}
















 