{% extends "admin/base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2>
    {% if create %}
      Добавить статью
    {% else %}
      Редактировать статью
    {% endif %}
  </h2>

  <form action="?{{ request.query_string }}" method="post">
    {{ forms.render(form) }}
    <div class="actions">
      <input type="submit" class="btn primary" value="Сохранить">
      <a href="{{ url_for("admin.index") }}" class="btn secondary">Отмена</a>
    </div>
  </form>
{% endblock %}