{% extends "admin/base.html" %}
{% import "_forms.html" as form %}
{% block content %}
  <table  class="table table-bordered table-striped">
    <thead>
      <th>Заголовок</th>
      <th>Дата создания</th>
      <th>Действия</th>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <th><a href="{{ url_for('admin.edit', slug=post.slug) }}">{{ post.title }}</a></th>
        <th>{{ post.created_at.strftime("%d-%m-%Y") }} </th>
        <td><a href="{{ url_for("admin.edit", slug=post.slug) }}" class="btn primary">Редактировать</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>




{% endblock %}