 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block title%}moy sait{%endblock%}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--
Template 2030 Elegant
http://www.tooplate.com/view/2030-elegant
-->
<link href="/static/css/tooplate_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" href="/static/css/nivo-slider.css" type="text/css" media="screen" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/jquery.nivo.slider.js" type="text/javascript"></script>

<script type="text/javascript">
$(window).load(function() {
$('#slider').nivoSlider({
	effect:'random',
	slices:15,
	animSpeed:500,
	pauseTime:3000,
	startSlide:0, //Set starting Slide (0 index)
	directionNav:false, 
	directionNavHide:false, //Only show on hover
	controlNav:false, //1,2,3...
	controlNavThumbs:false, //Use thumbnails for Control Nav
	pauseOnHover:true, //Stop animation while hovering
	manualAdvance:false, //Force manual transitions
	captionOpacity:0.8, //Universal caption opacity
	beforeChange: function(){},
	afterChange: function(){},
	slideshowEnd: function(){} //Triggers after all slides have been shown
});
});
</script>

</head>
<body>

<div id="tooplate_wrapper">
<div id="tooplate_header">
<!-- <div id="site_title"><h1><a href="#">Elegant Template</a></h1></div> -->
</div> <!-- end of forever header -->

<div id="tooplate_menu">
<ul>
    <li><a href="/" class="current">Домой</a></li>
    
    <li><a href="/tv/">ТВ</a></li>

    <li><a href="/about">О сайте</a></li>
</ul>    	
</div> <!-- end of tooplate_menu -->

<div id="tooplate_main">
<div id="tooplate_content">
   		<div id="homepage_slider">
            <div id="slider">
                <a href="#"><img src="/static/images/slideshow/01.jpg" alt="Slide 01" title="Nam fermentum lacus suscipit diam feugiat fringilla." /></a>
                <a href="#"><img src="/static/images/slideshow/02.jpg" alt="Slide 02" title="Proin bibendum est id velit tincidunt ut sodales ligula facilisis." /></a>
                <a href="#"><img src="/static/images/slideshow/03.jpg" alt="Slide 03" title="Fusce tincidunt diam eu metus iaculis hendrerit." /></a>
                <a href="#"><img src="/static/images/slideshow/04.jpg" alt="Slide 04" title="Nulla faucibus luctus quam eget placerat. " /></a>
                <a href="#"><img src="/static/images/slideshow/05.jpg" alt="Slide 05" title="Aliquam quis velit et sem vestibulum dignissim." /></a>
            </div>
        </div>
        
        

















{%block content%}{%endblock%}


             

      <div class="cleaner"></div>
			</div>
        
    
        
<div id="tooplate_sidebar">
	<div class="sidbar_box">
        {%include 'reklama.html'%}
	    	<!-- <a href="#"><img src="/static/images/tooplate_250x250_ad.jpg" alt="250x250 ad" /></a> -->
		</div>
		
    <div class="sidbar_box">
	        <h4>Информеры</h4>
        {%include 'pogoda.html'%}
		</div>
		
    
		</div>
		
    <div class="cleaner"></div>
</div>

<div class="cleaner"></div>
</div> <!-- end of main -->
  
   <!-- <div id="tooplate_footer_wrapper">
<div id="tooplate_footer"> -->
    
    <!-- {
%include 'footer.html'%} -->
    
   

    <!-- <div class="cleaner"></div>
</div> -->

<div id="tooplate_copyright">
	
    Copyright © 2017
		
</div>
</div>
</div> <!-- end of wrapper -->

</body>
</html>