<link rel="stylesheet" type="text/css" href="https://s1.gismeteo.ua/static/css/informer2/gs_informerClient.min.css">
<div id="gsInformerID-6i7vK4LJTiB7L6" class="gsInformer" style="width:230px;height:198px">
  <div class="gsIContent">
    <div id="cityLink">
        <a href="https://www.gismeteo.ua/weather-moscow-4368/" title="Погода в Москве" target="_blank">
            <img src="https://s1.gismeteo.ua/static/images/gisloader.svg" width="24" height="24" alt="Погода в Москве">
        </a>
    </div>
    <div class="gsLinks">
     <table>
       <tr>
         <td>
           <div class="leftCol">
             <a href="https://www.gismeteo.ua" target="_blank" title="Погода">
               <img alt="Погода" src="https://s1.gismeteo.ua/static/images/informer2/logo-mini2.png" align="middle" border="0" height="16" width="11"/>
               <img src="https://s1.gismeteo.ua/static/images/gismeteo.svg" border="0" align="middle" style="left: 5px; top:1px">
             </a>
           </div>
           <div class="rightCol">
             <a href="https://www.gismeteo.ua/weather-moscow-4368/14-days/" target="_blank" title="Погода в Москве на 2 недели">
                <img src="https://s1.gismeteo.ua/static/images/informer2/forecast-2weeks.ru.svg" border="0" align="middle" style="top:auto" alt="Погода в Москве на 2 недели">
             </a>
           </div>
           </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<script src="https://www.gismeteo.ua/ajax/getInformer/?hash=6i7vK4LJTiB7L6" type="text/javascript"></script>